* {
font-family: 'Oswald', sans-serif;
font-weight: 200;
}
.prod-img {
  width: 50%;
  height: 20%;
}

.text-container {
  width: 90%;
}

.user-img {
  width: 3em;
}

.delete-btn {
  background-color: white;
}