* {
font-family: 'Oswald', sans-serif;
font-weight: 200;
}
.prod-img {
  width: 70%;
  height: 20rem;
}

.text-container {
  width: 90%;
}

.user-img {
  width: 3em;
}

.delete-btn {
  /* border: none; */
  background-color: white;
}